<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<description>所有Local相关资源的定义</description>
	
	<bean id="local.root" class="org.springframework.core.io.FileSystemResource" scope="singleton">
		<description>Local Root 资源</description>
		<constructor-arg type="String" value="Resources/Local"></constructor-arg>
	</bean>
	
	<bean id="local.users" class="org.springframework.core.io.FileSystemResource" scope="singleton" >
		<description>Local User 资源</description>
		<constructor-arg type="String" value="Resources/Local/Users"></constructor-arg>
	</bean>
	
	<bean id="local.images" class="org.springframework.core.io.FileSystemResource" scope="singleton" >
		<description>Local Image 资源</description>
		<constructor-arg type="String" value="Resources/Local/Users/Images"></constructor-arg>
	</bean>

</beans>
